<header class="bg-light-pink shadow-sm rounded-bottom py-3 mb-4">
    <nav class="container d-flex justify-content-center">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-dark-pink fw-bold" href="{% url 'recipe_catalog:home' %}">Главная страница</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-dark-pink fw-bold" href="{% url 'recipe_catalog:my_recipes' %}">Мои рецепты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark-pink fw-bold" href="{% url 'recipe_catalog:ingredients_list' %}">Ингредиенты</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link text-dark-pink fw-bold" href="{% url 'recipe_catalog:about' %}">О сайте</a>
            </li>
        </ul>
    </nav>
</header>