{% extends "base.html" %}

{% block content %}
<div class="card bg-light-pink border-0 rounded-4 shadow p-4">
    <h1 class="text-center text-dark-pink mb-4">О проекте</h1>
    <p class="lead text-muted">
        Добро пожаловать на наш сайт рецептов! Наш проект создан для всех, кто ищет вдохновение на кухне.
        Мы стремимся объединить кулинаров и любителей готовить, предоставляя платформу для обмена проверенными рецептами.
        Наша цель — сделать кулинарию доступной и интересной, чтобы каждый мог найти рецепт по душе и создать вкусные блюда
        для себя и своих близких.
    </p>
</div>
{% endblock %}
