{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Рецепт: {{ title }}</h1>
<div class="card">
    <div class="card-body">
        {% if image %}
        <img src="{{ image }}" alt="{{ title }}" class="img-fluid mb-4" style="max-width: 100%; height: auto;">
        {% endif %}
        <p class="card-text"><strong>Описание:</strong> {{ description }}</p>
        <p><strong>Время приготовления:</strong> {{ cooking_time }} минут</p>
        <p><strong>Общий вес:</strong> {{ total_weight }} грамм</p>
        <p><strong>Общая калорийность:</strong> {{ total_calories }} ккал</p>

        <h3>Ингредиенты:</h3>
        <ul class="list-group">
            {% for ingredient in ingredients %}
            <li class="list-group-item">{{ ingredient.name }} — {{ ingredient.unit }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
